html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #161318;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.grid-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.row-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tile {
    width: 15%;
    height: 5em;
    background: #4e4e4e;
    border: 1px solid #c3faff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-tile {
    background: #232f3a;
}

.middle-tile {
    background: #2b3d44;
}

.inner-tile {
    background: #433547;
}

.input-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.input {
    width: 74%;
    height: 2em;
    margin-top: 1em;
    padding: 0.6em;
    background: #332930;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
    outline: none;
    text-align: center;
}

.stats-container {
    width: 74%;
    padding: 0.6em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.score {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.score-label {
    color: #eeeeee;
}

.score-value {
    font-size: 1.2em;
    color: #b97bff;
}

.missed {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.missed-label {
    color: #eeeeee;
}


.missed-value {
    font-size: 1.2em;
    color: #ff7b98;
}

@media screen and (min-width: 425px) {
    .tile {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 800px) {
    .tile {
        height: 4em;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1000px) {
    .tile {
        height: 3em;
        font-size: 2em;
    }
}

@media screen and (min-width: 1350px) {
    .tile {
        height: 2.5em;
        font-size: 2.5em;
    }
}

@media screen and (min-width: 2000px) {
    .tile {
        font-size: 3em;
    }
}

@media screen and (min-width: 2500px) {
    .tile {
        font-size: 4em;
    }
}