html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    background: #161318;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    letter-spacing: 0.1em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-container {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.row-container {
    width: 80%;
    padding: 0.2em;

    background: #27222b;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.tile {
    width: 100%;
    height: 1.11em;
    padding: 0.15em;

    text-align: center;
}

.tile.fade-in {
    animation: fade-in 1s;
}

.tile.fade-out {
    animation: fade-out 1s;
}


.tile.success-out {
    animation: success-out 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes success-out {
    from {
        opacity: 1;
    }
    to {
        background: #72f37d;
        opacity: 0;
    }
}

.outer-tile {
    color: #9786d4;
}

.middle-tile {
    color: #87d4eb;
}

.inner-tile {
    color: #edf886;
}

.input-container {
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.input {
    width: 80%;
    margin: 0.5em 0;
    padding: 0.5em 0;

    background: #332930;
    color: #ffffff;
    font-size: inherit;
    border: none;
    outline: none;
    text-align: center;
}

.stats-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.score, .missed {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.score-label, .missed-label {
    color: #dadada;
}

.score-value, .missed-value {
    margin-left: 0.2em;

    font-size: 1.2em;
}

.score-value {
    color: #ffef94;
}

.missed-value {
    color: #ff949d;
}

@media screen and (min-height: 650px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (min-height: 800px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-height: 1000px) {
    body {
        font-size: 1.4em;
    }
}

@media screen and (min-height: 1300px) {
    body {
        font-size: 1.9em;
    }
}

@media screen and (min-width: 1200px) and (min-height: 400px) {
    body {
        font-size: 0.95em;
    }

    .row-container {
        width: 90%;
        height: 3em;
        flex-flow: row nowrap;
        align-items: center;
    }

    .tile {
        width: 20%;
    }

    .input {
        width: 90%;
    }
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
    body {
        font-size: 1em;
    }
}

@media screen and (min-width: 1440px) and (min-height: 900px) {
    body {
        font-size: 1.1em;
    }
}